::ng-deep .p-accordion-content{
  padding: 0;
}

.search-container{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  margin-bottom: 20px;
}

.disciplines-container{
  max-height: calc(100vh - 165px);
  overflow-y: auto;
  height: 100%;
}

.spinner-container{
  align-self: center;
  justify-self: center;
}

