::ng-deep .p-timeline-event-opposite{
  flex: none;
  min-width: 60px;
  padding: 0 0.5rem;
}

.schedule-item{
  margin-bottom: 40px;
}

.refresh-container{
  display: flex;
  justify-content: end;
  margin: 10px 0;
}

.schedule-container{
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  max-height: calc(100vh - 220px);
}

.time{
  &__container{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
   &__from{
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 5px;
   }
   &__to{
    color: var(--gray-400);
   }
}