.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;

  &__title{
    text-align: center;
    margin-bottom: 50px;
  }

  &__submit{
    margin-top: 30px;
    align-self: flex-end;
  }

  input{
    width: 100%;
  }

  .input-container {
    width: 100%;
  }
}