<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h1 class="form__title">Установка студенческого билета</h1>
  <div class="input-container">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-user" />
      <input 
        type="text" 
        pInputText 
        placeholder="Логин"
        aria-describedby="login-help"
        [formControl]="form.controls.login"/>
    </p-iconField>
    <small id="login-help" class="input-description">* Находится на обратной стороне студенческого</small>
  </div>
  <div class="input-container">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-lock" />
      <input 
        type="text"
        pInputText
        placeholder="Пароль"
        aria-describedby="password-help"
        [formControl]="form.controls.password"/>
    </p-iconField>   
    <small id="password-help">* Находится на лицевой стороне в формате: XX-XXXXX</small> 
  </div>
  <div class="form__submit">
    <p-button 
      type="submit"
      label="Установить" 
      [icon]="isSubmitting() ? 'pi pi-spin pi-spinner' : 'pi pi-arrow-right'" 
      iconPos="right" 
      [disabled]="isSubmitting()"/>
  </div>
</form>

<p-messages [value]="errors()" [enableService]="false" [closable]="false"/>
