<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h1 class="form__title">Установка студенческого билета</h1>
  <div class="input-container faculty-input">
    <p-floatLabel>
      <p-dropdown
        [formControl] = "form.controls.faculty"
        [options]="faculties()!"
        optionLabel="value"
        dataKey="id"
        inputId="faculty"
        [style]="{'width' : '100%'}"
        [filter]="true"
        filterBy="value"
        [loading]="isLookupLoading()"
        emptyFilterMessage = "Результатов не найдено"/>
      <label for="faculty">Факультет</label>
    </p-floatLabel>
  </div>
  <div class="input-container">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-user" />
      <input 
        type="text" 
        pInputText 
        placeholder="Логин"
        aria-describedby="login-help"
        [formControl]="form.controls.login"
        required/>
    </p-iconField>
    <small id="login-help" class="input-description">* Находится на обратной стороне студенческого</small>
  </div>
  <div class="input-container">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-lock" />
      <input 
        type="password"
        pInputText
        placeholder="Пароль"
        aria-describedby="password-help"
        [formControl]="form.controls.password"
        required/>
    </p-iconField>   
    <small id="password-help">* Находится на лицевой стороне в формате: XX-XXXXX</small> 
  </div>
  <div class="form__submit">
    <p-button 
      type="submit"
      label="Установить" 
      [icon]="isSubmitting() ? 'pi pi-spin pi-spinner' : 'pi pi-arrow-right'" 
      iconPos="right" 
      [disabled]="isSubmitting() || !form.valid"/>
  </div>
</form>

<p-messages [value]="errors()" [enableService]="false" [closable]="false"/>
