@if(subject()){
  <p-card [header]="subject()!.subject">
    <p class="subject-field__container">
      <span class="subject-field__icon pi pi-graduation-cap"></span>
      <span class="subject-field__value">{{ subject()!.teacher }}</span>
    </p>
    <p class="subject-field__container">
      <span class="subject-field__icon pi pi-home"></span>
      <span class="subject-field__value">{{ subject()!.room }}</span>
    </p>
    @if(subject()!.subGroup){
      <p class="subject-field__container">
        <span class="subject-field__icon pi pi-hashtag"></span>
        <span class="subject-field__value">{{ subject()!.subGroup }}</span>
      </p>
    }
  </p-card>
} @else {
  <p-skeleton height="180px" borderRadius="30px"/>
}
