@import "primeicons/primeicons.css";
@import "@fontsource/montserrat";

body,
body .p-component
{
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.input-container{
  margin-bottom: 20px;
}

.p-stepper-nav{
  padding: 0 50px;
  margin-top: 25px;
}