.p-tabmenuitem{
  flex: 1 1 auto;
}

.nav{
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
}

.menuitem {
  &-link{
    width: 100%;
    display: flex;
    justify-content: center;

    &--active {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }

    &__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
    }
    &__title {
      margin-top: 10px;
      font-weight: 600;
    }
    &__icon {
      font-size: 1.3rem;
    }
  }
}